__pycache__/ksbanim.cpython-311.pyc
ksbanim-extension-*
ksbanim_test.py
test*
ksb_kivy.py
test_code
*.vsix
__pychache__
ksbanim_gltext.py
upload.py
dist/*
ksbanim.egg-info/
build/
__pycache__/
__pycache__/ksbanim.cpython-313.pyc
